cat <<EOF > .gitignore
# Unity Engine
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
UserSettings/
MemoryCaptures/

# VS / Rider
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.pidb
*.booproj
*.pdb
*.mdb
*.opendb
.vscode/
.idea/

# OS dosyaları
.DS_Store
Thumbs.db

# Android/iOS build
*.apk
*.aab
*.ipa
*.keystore
*.jks

# Others
*.log
sysinfo.txt
EOF
